body {
    font-family: 'Times New Roman', Times, serif;
    font-size: larger;
    background-color: #8bc2c4;
    margin-left: 4cm;
}

span {
font-size: 6ch;
font-weight: 600;
}

div {
   display: flex;
   justify-content: space-between; 
   align-items: center;

}

nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding-right: 1cm;
    padding-top: 3ch;

}

nav a {
    padding-left: 1cm;
}

