@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,600,400italic);

body {
    font-family: "Roboto", Helvetica, Arial, sans-serif;
    font-weight: 100;
    font-size: 20px;
    line-height: 40px;
    color: black;
    background: #e6f3f5;
  }

  

  .container {    
    background: rgb(139, 225, 236);
    padding: 10px;
    margin: 50px 50px;
  }

  .content {
    display: flex;
    flex-direction: row;
    padding-right: 10cm;
    padding-left: 5cm;
  }

  .intro {
    margin-top: 5cm;
    align-items: center;
  }


span {
font-size: 6.5ch;
font-weight: 600;
}


nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding-right: 1cm;
    padding-top: 3ch;

}

nav a {
    padding-left: 1cm;
}
